.favorite-city {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: solid 1px black;
}

.favorite-city a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  display: block;
  flex: 1;
}

.favorite-city a:hover {
  background-color:white;
}

.favorite-remove-button {
  background: none;
  border: 1px solid gray;
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: lightcoral;
}

.favorite-remove-button:hover {
  background-color: white;
  color: firebrick;
}
